/* --- RESET --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* --- HEADER (Logo e Nav) --- */
header {
    background-color: white;
    padding: 15px 10%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo { height: 60px; }

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
    font-weight: bold;
    font-size: 13px;
    cursor: pointer;
}

/* --- SEZIONE 1: BARRA NERA (Hero) --- */
.black-hero {
    background-color: #1c1c1c;
    color: white;
    height: 400px;
    display: flex;
    align-items: center;
    padding: 0 10%;
    font-weight: bold;
}

/* --- SEZIONE 2: BARRA BLU (Icone) --- */
.blue-section {
    background-color: #0282f9;
    color: white;
    padding: 40px 10%;
}

.blue-container {
    display: flex;
    justify-content: space-around; 
    align-items: center;
}

.blue-item {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.blue-item img {
    height: 40px;
    margin-right: 15px;
}

/* --- SEZIONE 3: PRIMO FOOTER --*/

.footer-columns {
    display: flex;
    gap: 40px;
    padding: 50px ;
}

.column h3 {
    color: rgb(7, 7, 7);
    margin: 5px 0;
}

.column ul { list-style: none; }

.column ul li {
    color: #959595;
    font-size: 13px;
    margin-bottom: 5px;
}


/* --- SEZIONE 4: SECONDO FOOTER (Grigio con Social) --- */
.footer-bottom {
    background-color: #303030;
    padding: 30px 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-btn {
    border: 2px solid #0282f9;
    background: transparent;
    color: white;
    padding: 12px 20px;
    font-weight: bold;
}

/*card*/
.cars-wrapper {
   display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /*aiutato da internet*/
  
  gap: 20px 15px; 
  padding: 40px;  
  max-width: 1205px; /
}
    


.product-card {
    display: flex;
    flex-direction: column; 
 
    
}
.product-card img {
  width: 90px;           
  aspect-ratio: 1 / 1;   
  object-fit: cover;     
  margin-bottom: 10px;   
  
}